h2[mat-dialog-title] {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
  margin: auto;
}
button {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  font-size: 16px;
}

p {
  display: inline;
  color: #000;
  text-decoration: none;
  margin: auto;
  padding: 0px 20px;
}

span{
  color: #aa03aa;
  cursor: pointer;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
