<nav class="responsive-sidebar" [class.expanded]="expanded">
  <mat-nav-list class="side-bar-list">
    
    <a mat-list-item routerLink="/" routerLinkActive="active-link" (click)="handleclick()">
      <mat-icon>group</mat-icon>
      @if (expanded) {
        <span class="item-text">Followed</span>
      }
    </a>

    <a mat-list-item routerLink="/explore" routerLinkActive="active-link" (click)="handleclick()">
      <mat-icon>explore</mat-icon>
      @if (expanded) {
        <span class="item-text">Explore</span>
      }
    </a>

    <a mat-list-item [routerLink]="['/profile', user()?.username]" routerLinkActive="active-link" (click)="handleclick()">
      <mat-icon>person</mat-icon>
      @if (expanded) {
        <span class="item-text">Profile</span>
      }
    </a>

    <a mat-list-item routerLink="/new-post" routerLinkActive="active-link" (click)="handleclick()">
      <mat-icon>add_circle</mat-icon>
      @if (expanded) {
        <span class="item-text">New Post</span>
      }
    </a>

    @if (user()?.role === 'ADMIN') {
      <a mat-list-item routerLink="/admins" routerLinkActive="active-link" (click)="handleclick()">
        <mat-icon>admin_panel_settings</mat-icon>
        @if (expanded) {
          <span class="item-text">Admin Panel</span>
        }
      </a>
    }

  </mat-nav-list>
</nav>
