.not-found {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 6rem;
  margin: 20px;
  color: #333;
}

p {
  font-size: 2rem;
  margin: 20px;
  padding: 20px 0;
  color: #666;
}

a {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: #007bff;
  border: 1px solid #007bff;
  text-decoration: none;
}

a:hover{
  background-color: #007bff;
  color: #fff;
}
